@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar chapter popup */
body,
.custom-scrollbar-w {
  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    @apply bg-[#f1f1f1];
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    @apply bg-[#c5c5c5] rounded-[5px]
    /* Handle on hover */;
  }
}

.custom-scrollbar-h {
  /* width */
  &::-webkit-scrollbar {
    height: 9px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    @apply bg-[#f1f1f1];
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    @apply bg-[#c5c5c5] rounded-[5px]
    /* Handle on hover */;
  }
}

.gradient {
  background-image: radial-gradient(at 30% top, #2f331d 0%, rgba(3, 37, 65, 1) 70%);
}

.inner_content {
  background-position: center -250px;
}
